/* Reset defaults and margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
}

/*  Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8b0000;  /* Deep Red (Restaurant Theme) */
    padding: 1rem 2rem;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Logo or Brand name */
.navbar-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

/* Navigation Links */
.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

/* Individual Link Styles */
.navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
} 
.navbar-links li a:hover {
    color: #ffd700;   /* Golden yellow on hover */
}
.hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 10;
}

/* Hero Sect */
.hero {
    background-image: url();
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
}
.hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 12px;
    max-width: 700px;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #ffd700;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.hero-button {
    background-color: #ff5c5c;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s ease;
}
.hero-button:hover {
    background-color: #e04848;
}

/* Responsive Menu */
@media (max-width: 768px) {
    .navbar-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #2b1055;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        display: none;
    }
    .navbar-links.active {
        display: flex;
    }
    .hamburger {
        display: block;
    }
}
